body {
	background-color: hsl(198, 100%, 75%);
	font-family: 'Fredoka One', cursive;
}

about{

	font-family: 'Permanent Marker', cursive;

}

#blue-button {
  position: relative;
  left: 260px;
  padding: 10px;
  background-color: hsl(198, 100%, 30%);
  color: white;
  width: 60px;
  height: 60px;
  border: 2px;
  border-radius: 6px;

}