body {
	background-color: hsl(198, 100%, 75%);
	font-family: 'Fredoka One', cursive;
}

#top-nav {
  height: 60px;
  font-family: Arial;
  background-color: rgb(240, 240, 240)
}


#blue-button {
  position: relative;
  left: 260px;
  padding: 10px;
  background-color: hsl(198, 100%, 30%);
  color: white;
  width: 60px;
  height: 70px;
  border: 2px;
  border-radius: 6px;

}